<div style="position:absolute; right:0">
    <md-fab-speed-dial md-open="controller.isOpen" md-direction="left" ng-class="controller.selectedMode" >
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-accent">
                <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
                <md-tooltip md-direction="top">Menu</md-tooltip>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="About" class="md-fab md-raised" href="#section-main" du-smooth-scroll du-scrollspy offseet="70" ng-click='closeMenu()'>
                <md-tooltip md-direction="controller.tipDirection" md-visible="controller.tooltipsVisible">About</md-tooltip>
                <md-icon md-svg-src="img/icons/twitter.svg" aria-label="Twitter"></md-icon>
            </md-button>
            <md-button aria-label="Experience" class="md-fab md-raised" href="#section-2" du-smooth-scroll du-scrollspy offset="70" ng-click='closeMenu()'>
                <md-tooltip md-direction="top" md-visible="controller.tooltipsVisible">Experience</md-tooltip>
                <md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
            </md-button>
            <md-button aria-label="Contact" class="md-fab md-raised" href="#section-3" du-smooth-scroll du-scrollspy offset="70" ng-click='closeMenu()'>
                <md-tooltip md-direction="controller.tipDirection" md-visible="controller.tooltipsVisible">Contact</md-tooltip>
                <md-icon md-svg-src="img/icons/hangout.svg" aria-label="Google Hangout"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>
