#resume-container {
  max-width: 80%;
  width: 80%;

  //prevent from showing scrollbar on animation
  md-content {
    overflow-x: hidden
  }
}

md-bottom-sheet {
    position: fixed !important;

    md-list-item {
        a {
            padding-bottom: 10px !important;
            padding-top: 10px !important;
            min-width: 100px !important;
        }
    }
}

.active {
    background-color: rgb(255,64,129) !important;
    md-icon {
        color: white !important;
    }
    span {
        color: white !important;
    }
}

.active.button-medium {
    md-icon {
        color: white !important;
    }
}

.button-medium {
  width: 50px !important;
  height: 50px !important;
  line-height: 50px !important;

  md-icon {
    // color: rgba(0,0,0,0.54) !important;
    // font-size: 36px !important;
  }
}

//fix for speed dial menu while resizing from mobile to desktop
.md-scale:not(.md-is-open) .md-fab-action-item {
    opacity: 0;
    transform: scale(0);
}
