#resume-container {
  max-width: 80%;
  width: 80%;

  //prevent from showing scrollbar on animation
  md-content {
    overflow-x: hidden
  }
}

md-bottom-sheet {
    position: fixed !important;
}

.bottom-bar { position: fixed; bottom: 0; height: 100%; width: 100% }


.button-medium {
  width: 50px !important;
  height: 50px !important;
  line-height: 50px !important;

  md-icon {
    color: rgba(0,0,0,0.54) !important;
    font-size: 36px !important;
  }
}
