<timeline>
    <timeline-node ng-repeat="event in events" side="{{event.side | lowercase}}" >
        <timeline-badge in-view="thisIsInView = $inview" ng-class="{ 'animated fadeIn{{event.side}}' :thisIsInView }" class="{{event.badgeClass}} md-whiteframe-z2">
            <md-icon class="material-icons">{{event.badgeIconClass}}</md-icon>
        </timeline-badge>
        <timeline-panel in-view="thisIsInView = $inview" ng-class="{ 'animated fadeIn{{event.side}}':thisIsInView }" class="{{event.badgeClass}}">
            <timeline-heading>
                <h4>{{event.title}}</h4>
            </timeline-heading>
            <p>{{event.content}}</p>
        </timeline-panel>
    </timeline-node>
</timeline>
